<section class="container">
	<div class="page-header clearfix">
		<h1 class="pull-left">产品详情</h1>
	</div>
	<form action="#" method="post" class="form-horizontal" id="product-form">
	{{#each result}}
		<div class="form-group">
		    <label class="col-sm-6 control-label no-padding-right">合同类型：</label>
		    <div class="col-sm-6">
		    	<p class="form-control-static">{{#if_eq type 1}}出借协议{{else}}补充协议{{/if_eq}}</p>
		    </div>
		</div>
		<div class="form-group">
		    <label for="name" class="col-sm-6 control-label no-padding-right">产品名称：</label>
		    <div class="col-sm-6">
		    	<p class="form-control-static">{{ result.name }}</p>
		    </div>
		</div>
		<div class="form-group">
		    <label for="rate" class="col-sm-6 control-label no-padding-right">建议年化收益率：</label>
		    <div class="form-pre-feedback col-sm-6">
		    	<p class="form-control-static">{{ rate }}%</p>
		    </div>
		</div>
		<div class="form-group">
		    <label for="date" class="col-sm-6 control-label no-padding-right">购买产品期限：</label>
		    <div class="form-pre-feedback col-sm-6">
		    	<div class="input-group">
		    		<p class="form-control-static">{{ date }}月</p>
		    	</div>
		    </div>
		</div>
		<div class="form-group">
		    <label for="price" class="col-sm-6 control-label no-padding-right">产品起投金额：</label>
		    <div class="form-pre-feedback col-sm-6">
		    	<p class="form-control-static">{{ price }}元</p>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-sm-6 control-label no-padding-right">产品启用状态：</label>
		    <div class="col-sm-6">
		    	<p class="form-control-static">{{#if_eq status 2}}暂不启用{{else}}启用{{/if_eq}}</p>
		    </div>
		</div>
		<div class="form-group">
		    <div class="col-sm-offset-4 col-sm-10">
		      <a href="javascript:window.history.go(-1)" class="btn btn-info col-xs-12 col-sm-5 col-md-5">返回</a>
		    </div>
		</div>
	{{/each}}
	</form>
</section>