<section class="container">
  <div class="page-header clearfix">
    <h1 class="pull-left">产品信息</h1>
    <a href="/contract/add" class="pull-right btn btn-primary">添加产品</a>
  </div>
	<div class="panel-body">
  	<table id = "table" class="table">
  	  <tr>
          <th data-field="id">产品ID</th>
          <th data-field="name">产品名称</th>
          <th data-field="type">协议类型</th>
          <th data-field="rate">年化收益率</th>
          <th data-field="date">购买期限(月)</th>
          <th data-field="price">起投金额</th>
          <th data-field="status">状态</th>
          <th data-field="operation">操作</th>
  	  </tr>
      {{#each result}}
  	  <tr>
  		<td>{{ id }}</td>
  		<td>{{ name }}</td>
  		<td>{{ type }}</td>
  		<td>{{ rate }}</td>
  		<td>{{ date }}</td>
  		<td>{{ price }}</td>
  		<td>{{ status }}</td>
  		<td><a href="/contract/detail/{{ id }}">详情</a>&nbsp;&nbsp;&nbsp;<a href="/contract/edit/{{ id }}">编辑</a>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" data-id="{{ id }}" id="product-del">删除</a></td>
  	  </tr>
  	  {{/each}}  
  	</table>  
	</div>
</section>
<div class="alert-tips" id="alert-tips"></div>
<script type="text/javascript">
$(function() {
    $("body").delegate("#product-del","click",function(){
      var that = $(this);
      var id = that.attr("data-id");
      BootstrapDialog.show({
        title: '操作提示',
        message: '确认删除此合同吗？',
        cssClass: 'login-dialog',
        buttons: [{
          label: '取消',
          action: function(dialogItself) {
            dialogItself.close();
          }
        },{
          label: '确定',
          cssClass: 'btn-primary',
          action: function(dialogItself) {
            dialogItself.enableButtons(false);
            $.ajax({
              type: "POST",
              url: "/contract/process_del",
              dataType:'json',
              data: {id: id},
              success: function(data){ 
              	dialogItself.close();
                dialogItself.enableButtons(true); 
                tips_message(data.message,'success'); 
                setTimeout(function(){
	            	window.location.reload();
	            },1000)
              }
            });
          }
        }]
      });
    });
});
</script>


