<section class="ksx-container">
<div class="passport-container">
    <div class="register-box">
        <div class="register-content outer-w">
            <div class="hd-title">
                <h3>欢迎注册</h3>
                <span class="more">已有账号，
                    <a href="/passport/login" class="main-color">登录</a>
                </span>
            </div>
            <div class="register-wrap clearfix">
                <div class="register-form fl">
                    <form name="reg" id="reg" action="/passport/register_sure" method="POST">
                        <ul class="txt-form">
                            <li>
                                <i class="icon-mobile"></i>
                                <input type="text" name="mobile" id="mobile" placeholder="请输入您的手机号">
                                <input type="hidden" name="callback" value="{{ callback }}>">
                            </li>
                            <li>
                                <i class="icon-pwd"></i>
                                <input class="inputFocus" type="password" id="password" name="passport" placeholder="请设置8-20位密码,至少包含字母和数字">
                            </li>
                            <li>
                                <i class="icon-pwd"></i>
                                <input class="inputFocus" type="password" id="password1" name="password1" placeholder="请确认设置的8-20位密码">
                            </li>
                            <li>
                                <i class="icon-code"></i>
                                <input type="text" name="invite_code" value="" class="inputFocus" placeholder="邀请码(非必填)">
                            </li>
                            <li class="spe">
                                <input type="checkbox" checked="checked" class="chk">我已阅读并同意
                                <a href="/passport/agreement_saft" target="_blank">《中普金服注册服务协议》</a>
                                <a target="_blank" href="/passport/agreement_infoss">《借款协议》</a>
                            </li>
                            <li>
                                <div class="y-btn" id="reg-sub">提交并注册</div>
                            </li>
                            <p class="tips"></p>
                        </ul>
                    </form>
                </div>
                <div class="register-banner fr">
                    <a href="javascript:void(0);" target="_blank">
                        <img src="/images/register-banner.jpg?v={{ version }}" alt="res">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<script>
  $(function () {
     $("#reg-sub").click(function(){ 
            var username = $("#mobile").val();
            var password = $("#password").val();
            var password1 = $("#password1").val();
            if(password !== password1){ 
                $("#password").css("border","1px solid red");
                $("#password1").css("border","1px solid red");
            }else if(password === password1){
            var data = {"uname":username,"upwd":password};
            $.ajax({ 
                url: '/passport/ajax_register',
                type: 'post',
                data: data,
                success: function(data,status){ 
                    window.location.href = '/passport/login';
                },
            }); 
        }
        });
  });
</script>