<div class="aboutUs-commond" id="aboutUs-commond">
    <div class="banner-about" style="background: url(/images/aboutus-other-bg.jpg) no-repeat center;">
    </div>
    <div class="menu-about-box">
        <div class="menu-about">
            <div class="header-menu">
                <ul class="aboutusNav clearfix">
                    <li class="{{#if_eq aboutus_role 'index'}}active{{/if_eq}}">
                        <a href="/aboutus/index">公司简介</a>
                    </li>
                    <li class="{{#if_eq aboutus_role 'organInformation'}}active{{/if_eq}}">
                        <a href="/aboutus/organInformation">组织信息</a>
                    </li>
                    <li class="{{#if_eq aboutus_role 'recordInformation'}}active{{/if_eq}}">
                        <a href="/aboutus/recordInformation">备案信息</a>
                    </li>
                    <li class="{{#if_eq aboutus_role 'important'}}active{{/if_eq}}">
                        <a href="/aboutus/important">重大事项</a>
                    </li>
                    <li class="{{#if_eq aboutus_role 'platformData'}}active{{/if_eq}}">
                        <a href="/aboutus/platformData">运营数据</a>
                    </li>
                    <li class="{{#if_eq aboutus_role 'bankDepository'}}active{{/if_eq}}">
                        <a href="/aboutus/bankDepository">银行存管</a>
                    </li>
                    <li class="{{#if_eq aboutus_role 'riskManage'}}active{{/if_eq}}">
                        <a href="/aboutus/riskManage">风控策略</a>
                    </li>
                    <li class="{{#if_eq aboutus_role 'riskEducation'}}active{{/if_eq}}">
                        <a href="/aboutus/riskEducation">政策法规</a>
                    </li>
                    <li class="{{#if_eq aboutus_role 'report'}}active{{/if_eq}}">
                        <a href="/aboutus/report">媒体报道</a>
                    </li>
                    <li class="{{#if_eq aboutus_role 'partner'}}active{{/if_eq}}">
                        <a href="/aboutus/partner">合作伙伴</a>
                    </li>
                    <li class="{{#if_eq aboutus_role 'contactWe'}}active{{/if_eq}}">
                        <a href="/aboutus/contactWe">联系我们</a>
                    </li>
                    <li class="{{#if_eq aboutus_role 'commitment'}}active{{/if_eq}} last-li">
                        <a href="/aboutus/commitment">承诺函</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>