<div class="footer footer-passport">
    <div class="footer-bottom alg-c">
        <p class="mb-10">
            {{ web_copy_right }}{{ company_name }} 版权所有
        </p>
        <p class="mb-10">页面中名称仅为不同出借模式的标示，非理财产品；往期年化收益率仅供参考，不代表未来实际收益</p>
        <p class="mb-10 warnning">
            <img src="/images/warn.png?v={{version}}" title="提示">出借有风险，选择需谨慎</p>
        <p class="mb-10">
            ICP经营许可证编号：{{bus_license}}&nbsp;&nbsp;信息系统安全等级保护备案证明：{{info_safe}}&nbsp;&nbsp;{{ icp_info }}
        </p>
        <p>
            <a key="2" logo_size="83x30" logo_type="official-st" href="https://v.pinpaibao.com.cn/cert/site/?site=www.zpjinfu.com&at=official-st">
                <script src="//static.anquan.org/static/outer/js/aq_auth.js?v={{version}}"></script>
            </a>
            <a key="3" logo_size="83x30" logo_type="business" href="http://www.anquan.org">
                <script src="//static.anquan.org/static/outer/js/aq_auth.js?v={{version}}"></script>
            </a>
            <a key="4" logo_size="83x30" logo_type="realname" href="http://www.anquan.org">
                <script src="//static.anquan.org/static/outer/js/aq_auth.js?v={{version}}"></script>
            </a>
        </p>
    </div>
</div>