<div class="footer">
    <div class="footer-top outer-w pb-40 clearfix">
        <div class="list-c fl">
            <p class="list-title">关于我们</p>
            <ul>
                <li>
                    <a href="/aboutus/index" title="公司简介">公司简介</a>
                </li>
                <li>
                    <a href="/aboutus/platformData" title="运营数据">运营数据</a>
                </li>
                <li>
                    <a href="/aboutus/riskManage" title="风控策略">风控策略</a>
                </li>
                <li>
                    <a href="/aboutus/contactWe" title="联系我们">联系我们</a>
                </li>
            </ul>
        </div>
        <div class="footer-line fl"></div>
        <div class="list-c fl">
            <p class="list-title">安全保障</p>
            <ul>
                <li>
                    <a href="/safe/index" title="风控风控">风控风控</a>
                </li>
                <li>
                    <a href="/safe/index" title="阿里云盾">阿里云盾</a>
                </li>
                <li>
                    <a href="/safe/index" title="银行级加密传输">银行级加密传输</a>
                </li>
                <li>
                    <a href="/safe/index" title="信息安全认证">信息安全认证</a>
                </li>
            </ul>
        </div>
        <div class="footer-line fl"></div>
        <div class="footer-code pt-40 clearfix fl">
            <div class="fl">
                <h3 class="alg-l mb-15">手机应用</h3>
                <div class="ads ads-app">
                    <img src="/images/code_app.png?v={{version}}" alt="Android版" title="Android版">
                    <h4>Android版</h4>
                </div>
                <div class="ads ads-wx">
                    <img src="/images/code_app_ios.png?v={{version}}" alt="iOS版" title="iOS版">
                    <h4>iOS版</h4>
                </div>
            </div>
        </div>
        <div class="footer-line fl"></div>
        <div class="footer-tel mt-40 fr clearfix">
            <h4>
                <span class="tel-tit">客服热线：</span>
                <var class="tel-img">
                    {{ telephone }}
                    <span style="font-size: 12px;">（投诉电话）</span>
                </var>
            </h4>
            <h4 class="mt-10 clearfix">
                <span class="fl">客服邮箱：</span>
                <span class="fl tel-text">
                    {{ service_email_001 }}
                </span>
            </h4>
            <h4 class="mt-20 clearfix">
                <span class="fl">服务时间：</span>
                <span class="fl tel-text">
                    {{ service_date }} {{ service_time }}
                </span>
            </h4>
            <h4 class="mt-20 clearfix">
                <span class="fl">公司地址：</span>
                <span class="fl tel-text">
                     {{ company_address_name }}
                </span>
            </h4>
        </div>
    </div>
    <div class="footer-bottom alg-c">
        <p class="mb-10">
            {{ web_copy_right }}{{ company_name }} 版权所有
        </p>
        <p class="mb-10">页面中名称仅为不同出借模式的标示，非理财产品；往期年化收益率仅供参考，不代表未来实际收益</p>
        <p class="mb-10 warnning">
            <img src="/images/warn.png?v={{version}}" title="提示">出借有风险，选择需谨慎</p>
        <p class="mb-10">
            ICP经营许可证编号：{{bus_license}}&nbsp;&nbsp;信息系统安全等级保护备案证明：{{info_safe}}&nbsp;&nbsp;{{ icp_info }}
        </p>
        <p>
            <a key="2" logo_size="83x30" logo_type="official-st" href="https://v.pinpaibao.com.cn/cert/site/?site=www.zpjinfu.com&at=official-st">
                <script src="//static.anquan.org/static/outer/js/aq_auth.js?v={{version}}"></script>
            </a>
            <a key="3" logo_size="83x30" logo_type="business" href="http://www.anquan.org">
                <script src="//static.anquan.org/static/outer/js/aq_auth.js?v={{version}}"></script>
            </a>
            <a key="4" logo_size="83x30" logo_type="realname" href="http://www.anquan.org">
                <script src="//static.anquan.org/static/outer/js/aq_auth.js?v={{version}}"></script>
            </a>
        </p>
    </div>
</div>