<section class="ksx-container">
    <div class="help-content outer-w">
        <div class="outBox">
            <div class="hd">
                <ul>
                    <li>注册/登录</li>
                    <li>存管问题</li>
                    <li>充值问题</li>
                    <li>出借问题</li>
                    <li>债权转让</li>
                    <li>回款问题</li>
                    <li>提现问题</li>
                </ul>
            </div>
            <div class="bd">
                <div class="inBox">
                    <div class="sideMen">
                        <h3>1.如何注册？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>
                                            进入『
                                            {{ product_name }}』官网（
                                                {{ web_site }}），点击“免费注册”，填写手机号码、密码、手机验证码，即可注册成功。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>2.注册时，短信无法收到怎么办？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
    
                                        <p>您可以检查手机网络是否畅通，或检查短信是否被拦截，若无法获取，可以联系微信公众号『
                                            {{ product_name }}』在线客服或者致电客服热线：
                                                {{ telephone }}协助完成注册。</p>
    
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>3.登录时，忘记密码怎么办？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>进入“登录”页面，点击“忘记密码”，进行手机号码验证，验证成功后输入新密码，即可修改登录密码。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>4.如何修改密码？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>在“我的账户”中的“安全中心-登录密码修改”，点击“修改”，输入原密码、新密码、确认新密码，即可修改登录密码。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>5.如何修改手机号码？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>为了您的账户信息及资金安全，目前平台暂不支持自助修改手机号码，请致电客服热线
                                            {{ telephone }}。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>6.同一人是否可以申请多个账号？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>因账户和实名信息是一对一的绑定关系，所以同一人只能申请一个账号，您的身份信息不能再次绑定新账户。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="inBox">
                    <div class="sideMen">
                        <h3>1.什么是资金存管？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>资金存管是指银行根据出借者在P2P平台上的自主操作所产生的信息及指令，实现客户资金的往来清算，P2P平台只承担信息中介角色，出借者的资金、平台运营资金、项目资金都隔离开，进行分账管理。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>2.为什么要开通资金存管？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>为响应监管政策，严守监管规范，由商业银行对平台资金进行存管，实现真正的银行资金存管与结算。用户资金流转全程通过银行存管账户完成，与平台完全隔离，保证安全。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>3.如何开通资金存管？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>步骤1：在“我的账户”页面，点击“开通E账户”跳转到实名页面；</p>
                                        <p>步骤2：在实名认证页面，输入姓名和身份证号码，点击“提交并认证”，跳转到E账户关联页面；</p>
                                        <p>步骤3：在账户关联页面，系统会自动识别是否开通E账户，如已开通E账户，进行平台与E账户关联；如未开通E账户，根据提示，在相应步骤输入姓名、身份证号码、图片验证码、设置E账户登录密码、交易密码并验证短信验证码即可开通。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>4.在电脑端开通资金存管，提示安装控件是什么意思？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>由于目前银行存管系统仅支持IE8-10及Firefox火狐浏览器，电脑端开通资金存管账号建议使用Firefox浏览器。阿普推荐大家在手机端完成资金存管账户开通，更方便快捷。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>5.为什么要绑定银行卡？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>E账户是用户个人在银行开设的二级电子账户，需绑定实体银行卡，才可进行资金结算。每个出借人的E账户专属自己所有，安全可靠。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>6.绑定银行卡有什么注意事项？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>E账户关联成功后，点击“激活绑卡”。E账户已与平台关联成功，但未进行激活绑卡的用户，可登陆
                                            {{ product_name }}，在“我的账户--绑定银行卡 ，点击去绑卡，跳转至绑卡页面，按照步骤完成绑卡即可。预留手机号码需一致，绑定的银行卡在充值提现时需同卡进出。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>7.支持哪些银行卡绑定？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>目前支持绑定银行名称：工商银行、农业银行、中国银行、建设银行、光大银行、民生银行、广发银行、兴业银行、平安银行、浙商银行、交通银行、中信银行、上海银行、北京银行。 其中：交通银行需客户在柜面、网银开通无卡支付业务，中信银行需客户柜面、网银或在线开通无卡支付业务，上海银行需客户在柜台开通在线支付（并预留手机号）、北京银行需客户通过柜面、电话银行、网银方式办理“在线支付签约”开通无卡支付功能。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>8.如何识别银行卡 I 类账户、II 类账户？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>根据央行要求，银行卡账户包括 I 类账户和II 类账户、III 类账户。实体银行卡可能有 I 类账户和 II 类账户。I 类账户可以办理存取款、转账等所有银行业务，使用范围和金额不受限制；II
                                            类账户可以办理存款、消费缴费等。但是不能存取现金，不能向非绑定账户转账，可以在支付平台上消费，单日支付限额1万元。如果您充值、提现等超过一万不能成功，请联系开卡行确认绑定银行卡是否为
                                            I 类账户。
                                            <br>Tips : 2016年12月1日之后办理的银行卡，如果当时在该银行已经有一张银行卡了，那么银行就会给你办理 II 类账户。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="inBox">
                    <div class="sideMen">
                        <h3>1.如何充值？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>方式一：通过E账户充值（转账方式，可实时到账）：</p>
                                        <p>方式二：银行卡直接充值（T+1工作日到账）：</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>2.如何充值到平台账户？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>方式一：通过第三方支付平台（中金支付）充值到平台账户上；</p>
                                        <p>方式二：通过E账户绑定的银行卡的网银、手机银行等渠道先转账至E账户，再从E账户充值到
                                            {{ product_name }}平台账户（在
                                                {{ product_name }}“我的账户”上点击“充值”，输入“充值金额”，进入充值界面，选择转出账户“E账户”，再按步骤操作完成充值）。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>3.充值到平台，什么时候到账？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p> 方式一：通过第三方支付平台（中金支付）充值，则需要T+1工作日到账，如周一转入，周二到账；周五转入，周一到账；周六日转入，周二到账，具体到账时间银行为准。</p>
                                        <p>方式二：通过E账户充值，可实时到账，但需保证E账户有足够余额的条件下。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>4.充值需要手续费么？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>平台充值全程免费。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>5.扣款成功，但是账户余额没有看到，怎么办?</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>可能处于银行间结算处理中，请您等待5-20分钟后再次查看账户资金，如还未到账请联系在线客服或拨打客户服务热线：
                                            {{ telephone }}。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>6.从银行卡转账到E账户，平台的账户余额没有增加怎么办？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>从银行卡转账到E账户后，此时资金在用户的E账户内。用户需登录
                                            {{ product_name }}“我的账户”中进行“充值”，转出账号选择“E账户”充值到
                                                {{ product_name }}个人账户上。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>7.银行卡直接充值目前支持哪些银行？各家银行的限额是多少？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>目前银行存管系统支持全国15家商业银行直接充值，支持银行卡直接转入银行和限额见下图：</p>
                                        <img style="width:504px;height:427px" src="images/problem_limit.jpg?{{version}}" alt="银行和限额图">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="inBox">
                    <div class="sideMen">
                        <h3>1.出借前需要注意什么？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>出借前请仔细阅读项目的相关信息，如借款金额、年化收益率、借款期限等，以确定所投的标符合您的需求。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>2.怎么进行出借？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>目前平台支持PC端、和微信端上进行投标。为了您的资金安全，投标前需完成实名认证和开通银行存管E账户、绑定银行卡并确保账户内有足够资金。出借流程如下：</p>
                                        <p>点击“我要出借”，选择相应标的点击进入标的详情页查看具体信息，点击“立即出借”输入投标金额点击“提交”，跳转到在银行存管系统页面输入交易密码和手机验证码即可。（注：用户首次出借需进行风险评估测试）</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>3.出借后是否可以取消？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>用户在出借后不允许取消，若此标满标，通过网站审核后，用户账户上的冻结金额将自动转入此标借款者账户。若此标流标，则用户账户上的冻结金额自动转为可用金额。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>4.平台的发标时间是在什么时候？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p> 平台每天不定时会发布项目，请多多关注。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>5.出借金额是否有限制？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>出借金额最低100元，出借金额上限是标的总金额。最后一笔出借不受出借金额最低100元限制，若出借金额小于100元则需要一次性出借完成</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>6.借款标如果流标怎么办？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>若借款标的在该借款者选择的有效时间内没有撮合成功，借款标会自动下线，之前参与出借的资金将全额返还到“我的账户”中。 由于借款人和出借人的借贷关系实际并未成功建立，因此投过此标的出借人的资金，不会得到相应的利息收入。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>7.成功出借后是否可以查看借款人的信息？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>平台拥有严格的风控体系，会对每一位借款人进行严格的信息收集和审核。根据监管文件提示在对项目信息进行合规披露的同事也需对客户隐私进行保护，故网站只公布主要信息供出借者查看，查看后如有疑问，可拨打客服电话或莅临公司查询借款人详细资料。注：未经允许，禁止拍照。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>8.何时开始计息？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>项目经过满标复审，即为出借人出借成功，并开始计息。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>9.如何通过银行存管账户查看交易明细？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p> 访问投融资平台（https://www.ghbibank.com.cn/eAccountF/）,登入后，进入“我的账户”---“P2P存管”，平台名称选择“
                                            {{ product_name }}”，即可查看“交易明细”。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="inBox">
                    <div class="sideMen">
                        <h3>1.什么是债权转让？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>债权转让是指「
                                            {{ product_name }}」平台的出借用户在需要流动资金时，可以将其在「
                                                {{ product_name }}」平台持有的符合相应条件的债权项目转让给其他出借用户的一种行为。 债权转让的目的是帮助广大「
                                                    {{ product_name }}」平台的出借用户提高出借的流动性，使平台的出借用户在出借过程中有更好的出借体验。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>2.债权转让需要满足什么条件？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>申请转让本金不得少于1000元，且转让金额为该债权剩余全部本金，不能拆分转让；</p>
                                        <p>债权持有天数超过30天后方可转让，债权当期还款到期天数不足48小时不可发起转让，转让募集期2天；</p>
                                        <p>债权只能转让一次，即购买的债权不能进行再次转让(债权转让成功或转让失败，之后该笔债权都不能再申请转让)。</p>
                                        <p>当期标的还款日前48小时，未承接转账项目将自动失效。</p>
                                        <p>转让价格：本金*（1-折扣率）+未结清收益；其中折扣率范围：0-20%，由用户自行设置。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>3.债权转让有哪些费用？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>债权转让完成后，针对发起债权转让的用户，「
                                            {{ product_name }}」平台会收取基于转让本金金额0.5%的债权转让管理费。转让管理费 = 转让本金* 0.5%。而债权购买人，「
                                                {{ product_name }}」平台不会收取任何费用。（注：转让管理费，在债权转让成功放款时从转让人中扣取）；</p>
                                        <p>申请转让成功后，转让人将不再享有当期未结清利息，为减少损失，请尽量在还款日过后近日转让。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>4.债权转让是否可以撤销？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>债权转让申请成功后，不可撤销。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>5.什么是债权转让本金折让率？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>本金折让率是指在转让过程中所设置的折扣比率，折让率系数越低 ，则越容易转出债权。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>6.购买债权转让产品的计息方式？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>债权转让成功后，转出人当期未结清利息归受让人所有。举例：A债权还款日为10月28日，于10月24日号债权转让成功，那么当期即9月26号—10月24号未结清利息则归受让人所有。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>7.已成功转让的债权产品转让人什么时候可以获取转让收入？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>已转让的债权产品被购买成功后，平台复审通过后即可放款至账户。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="inBox">
                    <div class="sideMen">
                        <h3>1.如何查看项目回款信息？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>当项目到达回款日，用户不需要任何操作，还款金额会自动到达账户。另可以通过“出借记录”查看回款详情，或者通过“资金记录”查看资金流水，以确保资金安全。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>2.到期项目的回款时间是什么？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>项目回款为项目到期的三个工作日内回款。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="inBox">
                    <div class="sideMen">
                        <h3>1.如何提现？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>提现须先绑定同一户名/预设手机号的银行卡（如何绑定见前文介绍）；</p>
                                        <p>首次提现须通过投融资平台App（各大渠道搜索可见）进行人脸识别实名认证（人脸识别系统工作时间：9:30-17:30），之后提现不再需要此操作；</p>
                                        <p>该步骤亦可在开通E账户时进行提前操作；</p>
                                        <p>1.登录您的
                                            {{ product_name }}账户，进入我的账户，点击“提现”；</p>
                                        <p>2.输入提现金，点击确认，即跳转页面；</p>
                                        <p>3.确认提现信息，选择获取并填写手机动态短信密码和支付密码，确认即可成功；</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>2.提现金额有没有限制？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>目前
                                            {{ product_name }}对提现金额没有限制。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>3.可以撤销提现么？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>提现是不可以撤销的</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>4.平台提现收费吗？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>平台提现免费。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>5.提现什么时候到账？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>提现方式有两种：</p>
                                        <p>①提现金额小于5万可选择“网银互联”，实时到帐；</p>
                                        <p>②提现金额大于5万小于50万可选择“小额”，2小时内到帐；</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3>6.提现时，需要在银行进行实名认证吗？</h3>
                        <ul>
                            <li>
                                <div class="tooltip-box">
                                    <i class="tip-arrow-top"></i>
                                    <div class="tip-content">
                                        <p>开通银行存管账户后，第一次申请提现需进行视频认证，之后申请提现不需要。认证流程：下载【投融资平台】APP---APP左上角“个人中心”进入“实名认证”，进行人脸扫描、身份证正反面照、手持身份证照上传。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript'>
        require(['pages/hj_slide'], function (hjSlide) {
            hjSlide.tapCell(".inBox", ".outBox", "left");
        });
    </script>
</section>